*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #c2ff1c37;
    background-size: contain;
}
/*
COLOUR PLATES
White- #FFFFFF
       #F3F6F6
       #E2EAE9
       #17A1FA
Blue - #1270B0 
*/

/*-------------------------navibar---------------------*/
.home
{
    /*background-image: url("../Assets/01rgb.png");*/
    background-size: cover;
    height: 100vh;
    padding: 0 50px 0 50px;
}
.sm_navi
{
    background-color: #0075423c;
    border-radius: 25px;
    color: #004013;
    font-weight: 600;
    height: 40px;
}
.nav-item a 
{
    color: #007542;
    font-size: 15px;
    font-weight: 500;
}
.nav-item a:hover
{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    background-color: #1e8c45;
    border-radius: 25px;
}
.active
{
    background-color: #007542;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 600;
}
.nav-item a.active 
{
    background-color: #007542;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 600;
}
.btn02
{
    background-color:#c2ff1c00 ;
    border-color: #007542;
    width: 10%;
    height: 40px;
    border-radius: 20px;
    font-size:1.2vw;
    font-weight:500;
    border-width: 3px;
}
.btn02:hover
{
    background-color:#007542 ;
    border-style:solid;
    scale: 1.01;
    color: #ffffff;
}
.btn02 a
{
    color: #007542;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.btn02 a:hover
{
    color: #ffffff;
}


/*-------------------------Page Contents 01---------------------*/
.set_main
{
    background-color: #6a6a6a;
    background-size: cover;
    width:100%;
    height: 80vh;
    border-radius: 25px;
    background-image: url("../Assets/Green2.png");
    padding-top: 3vw;
    padding-left: 6vw;
}
.set_main1
{
    background-color: #ffffff00;
    background-size: cover;
    width:100%;
    height: max-content;
    border-radius: 25px;
}
/*.set_mini
{
    background-color: #ffffff31;
    border-radius: 25px 0 0 25px;
    height: 100%;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
}*/

.topic1{
    
    margin-top: 8%;
    font-family: monospace;
    font-weight: bold;
    font-size: 3vw;
    color: #ffffff;
    text-shadow: 5px 5px 20px black;
}
.topic2{
    font-weight: bolder;
    font-size: 11vw;
    margin-top: -30px;
    color: #ffffff;
    text-shadow: 5px 5px 20px black;
}
.sub_topic
{
    color: #ffffff;
    margin-top: -30px;
}
.btn_ap
{
    margin-top: 20px;
    background-color:#ffffff ;
    color: #004013;
    width: 20vw;
    height: 60px;
    border-radius: 40px;
    font-size:1.2vw;
    font-weight:500;
}
.btn_ap:hover
{
    background-color:#ffffff8f ;
    scale: 1.01;
    color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.556);
}
.btn_ap a
{
    color: #004013;
    text-decoration: none;
}

.sub_topic1
{
    color: #004013;
    font-size: 3vw;
    font-weight: 700;
    background-color: #a6a6a600;
    border-radius: 15px;
}
.card
{
    margin: 10px;
    height: max-content;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.154);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);
}
#card01
{
    background-color: #9ce931ca;
}
#card02
{
    background-color: #5faf2a;
}
#card03
{
    background-color: #78d23d;
}
#card04
{
    background-color: #9be931;
}
#card05
{
    background-color: #007542;
    background-image: url(../Assets/Green2.png);
    box-shadow: 0 4px 30px rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255);
}

.carousel-item
{
    height: 1vh;
}
.carousel-inner .carousel-item {
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }

  .btn_ap1
  {
      margin-top: 20px;
      background-color:#ffffff ;
      color: #004013;
      width: 20vw;
      height: 45px;
      border-radius: 40px;
      font-size:1.2vw;
      font-weight:500;
  }
  .btn_ap1:hover
  {
      background-color:#ffffff8f ;
      scale: 1.01;
      color: #ffffff;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.556);
  }  


  
/*---------------------------about us-----------*/
.home1
{
    /*background-image: url("../Assets/01rgb.png");*/
    background-size: cover;
    height: max-content;
    padding: 0 50px 0 50px;
    margin-bottom: 50px;
}
.home2
{
    background-color: #ffffff;
    background-size: cover;
    width:100%;
    height: max-content;
    border-radius: 25px;
    background-image: url("../Assets/Gren.jpg");
    padding: 0 0 0 0;
}
.settopic
{
    background-color: #caffcf;
    background-size: cover;
    width:100%;
    height: 50vh;
    border-radius: 25px;
    background-image: url("../Assets/Gren.jpg");
    padding-left: 6vw;
    padding-top: 2vw;
}
.set1
{
    background-color: #caffcf;
    background-size: cover;
    width:100%;
    height: max-content;
    border-radius: 25px;
    background-image: url("../Assets/Gren.jpg");
    padding: 0 0px 0 0px;
}
.topic3
{
    font-weight: bolder;
    font-size: 6vw;
    margin-top: -30px;
    color: #004013;
    text-shadow: 2px 2px 20px rgba(67, 67, 67, 0.557);
}
